/* CSS重置 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,span,select{padding:0;margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
input,button,select,textarea{outline:none}
ol,ul,li{list-style:none}
img{vertical-align:middle;border:none;}
textarea{overflow: auto;vertical-align: top;resize:none;}
body,input,textarea{font: 12px/1.5 Microsoft Yahei,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
button,input,select,textarea {font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
table {border-collapse:collapse;border-spacing:0}
a{color:#333;text-decoration:none;cursor:pointer;}
a:hover{color:#333;text-decoration:none;}
a:focus{outline:0;}
h1{display: none;}
em,var,cite{font-style:normal;}
button:focus,input:focus,textarea:focus,select:focus {outline-width: 0;}
div,p,span,a,cite,dl,dt,dd,ul,ol,li,ol,h1,h2,h3,h4,h5,h6,var,code,th,td{word-wrap:break-word;word-break:normal;white-space:normal;}
[hidden]{display:none;}
.c:after,.clearfix:after{content:".";display:block;font-size:0;height:0;clear:both;visibility:hidden}
.c,.clearfix{zoom:1}
.clfdiv{ height:1px; overflow:hidden; clear:both;}

/* 字体 */
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}

.f_c_333 {color:#333;}
.f_c_666 {color:#666;}
.f_c_999 {color:#999;}
.f_c_ccc{color:#ccc;}
.red{color:red;}
.wihte{color:white;}
.black{color:black;}
.orange{color:orange;}
.blue{color:blue;}

.simsun{font-family:Simsun;}
.yahei{font-family:Microsoft Yahei;}
.arial{font-family:Arial;}

/* 外边距 */
.m0{margin: 0!important;}
.auto{margin-left:auto;margin-right: auto;}

.mt5{margin-top:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.ml5{margin-left:5px;}

.mt10{margin-top:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.ml10{margin-left:10px;}

.mt15{margin-top:15px;}
.mr15{margin-right:15px;}
.mb15{margin-bottom:15px;}
.ml15{margin-left:15px;}

.mt20{margin-top:20px;}
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}

.mt25{margin-top:25px;}
.mr25{margin-right:25px;}
.mb25{margin-bottom:25px;}
.ml25{margin-left:25px;}

.mt30{margin-top:30px;}
.mr30{margin-right:30px;}
.mb30{margin-bottom:30px;}
.ml30{margin-left:30px;}

/* 内边距 */

.pd0{padding: 0!important;}

.pd5{padding: 5px;}
.pd10{padding: 10px;}
.pd15{padding: 15px;}
.pd20{padding: 20px;}
.pd25{padding: 25px;}
.pd30{padding: 30px;}

.pt5{padding-top: 5px;}
.pr5{padding-right: 5px;}
.pb5{padding-bottom: 5px;}
.pl5{padding-left: 5px;}

.pt10{padding-top: 10px;}
.pr10{padding-right: 10px;}
.pb10{padding-bottom: 10px;}
.pl10{padding-left: 10px;}

.pt15{padding-top: 15px;}
.pr15{padding-right: 15px;}
.pb15{padding-bottom: 15px;}
.pl15{padding-left: 15px;}

.pt20{padding-top: 20px;}
.pr20{padding-right: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}

/* 对齐 */
.tal{text-align:left!important;}
.tar{text-align:right!important;}
.tac{text-align:center!important;}
.fwn{font-weight:normal;}
.fwb{font-weight:bold;}
.vat{vertical-align:top;}
.vam{vertical-align:middle;}
.vab{vertical-align:bottom;}

/* 定位 */
.fl{float:left;}
.fr{float:right;}
.por{position:relative;}
.poa{position:absolute;}
.dn{display:none;}
.di{display:inline;}
.db{display:block;}

/* 背景颜色控制 */
.bgf{background-color: #fff}
.bg0{background-color: #000}
.bgt{background-color:transparent}

/* 边框 */
.bdt{border-top:0 none!important;}
.bdr{border-right:0 none!important;}
.bdb{border-bottom:0 none!important;}
.bdl{border-left:0 none!important;}

/**分页样式*/
  .xpage a{background: url(../../../statics/images/zhanghu/comment.png) no-repeat;overflow: hidden;}
  .xpage{text-align: center;margin-top: 20px;float: center;}
  .xpage a{width: 25px;height: 25px;display: inline-block;line-height: 25px;margin-left: 10px;vertical-align: middle;}
  .xpage a{background-position: -2px -178px; transition: 0.3s;width: 25px;}
  .xpage a:hover{background-position: 0 -204px;color: #fff;width: 25px;height: 25px;}
  .xpage a.start,.xpage a.end{background-position: -2px -230px;width: 25px;}
  .xpage a.start:hover,.xpage a.end:hover{background-position: 0 -204px;color: #fff;}
  .xpage a.up{background-position: 0 -70px;}
  .xpage a.up:hover{background-position: 0 -97px;}
  .xpage a.down{background-position: 0 -124px;}
  .xpage a.down:hover{background-position: 0 -152px;}
  .xpage a.curPageColor{background-position: 0 -204px;color: #fff;width: 25px;height: 25px;}
  .xpage a.curPageText{border: 1px solid #ccc;width: 45px;height: 25px;line-height: 25px;text-align: center;color: #888;font-size: 14px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;margin-left: 10px;vertical-align: middle;}
  .xpage span{display: inline-block;vertical-align: middle;}
  .xpage a.go{background: url()}
  .xpage a.go{border: 1px solid #ccc;display: inline-block;width: 45px;height: 22px;line-height: 22px;color: #888;font-size: 14px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
  .xpage a.go:hover{color: #e7bb70;border: 1px solid #e7bb70;}

  .xpage .page-total {text-align: center;font-size: 14px;color: #555;margin-top: 12px;}
  .xpage a:visited {font-size: 12px;color: #545353;TEXT-DECORATION: none;}
  .xpage a:link {font-size: 12px;color: #545353;TEXT-DECORATION: none;}
  .xpage input {text-align: center}
