<div class="header">
    <div class="cnt auto c">
        <div class="left c">
            <p>服务热线：400-9690-900</p>
            <a class="qq J-desk" href="javascript:;" id="qq"></a>
            <a class="wx" href="javascript:;" id="wx"></a>
            <a class="sina" href="#" target="_blank" id="sina"></a>
        </div>
        <div class="right">
            <ul>
                <li><a class="alink" href="#">关于我们</a></li>
                <li><a class="alink" href="#">帮助</a></li>
                <li ><a class="special alink" href="#" id="login_a">登录</a></li>
                <li> <a class="special alink" href="#">注册</a></li>
                <li class="kfd"><a class="alink" href="#">手机客户端</a></li>
            </ul>
        </div>
        <div class="code" id="codema">
            <span></span>
            <img src="images/codeTwo.png" width="320" height="190" alt="二维码"/>
        </div>
        <div class="gz-wb qqkf" id="qqkf">点击咨询在线客服<span></span></div>
        <div class="gz-wb weibo" id="weibo">点击关注"人人聚财"微博<span></span></div>
    </div>
</div>