<div class="nav">
    <div class="cnt">
        <a class="logo" href="#">
            <img src="images/logo.png"/>
        </a>
        <ul class="fr" id="nav">
            <li class="nav-li">
                <a class="nav-a" href="#" title="">我要理财<span></span><b class="b1"></b></a>
                <ul>
                    <li><em></em><a href="#">新手标</a></li>
                    <li><em></em><a href="#">V专享</a></li>
                    <li><em></em><a href="#">定投宝</a></li>
                    <li><em></em><a href="#">月月赚</a></li>
                    <li><a href="#">债权项目</a></li>
                </ul>
            </li>
            <li class="nav-li"><a class="nav-a" href="#" title="">我要借款</a></li>
            <li class="nav-li"><a class="nav-a" href="#" title="">新手理财</a></li>
            <li class="nav-li">
                <a class="nav-a" href="#" title="" target="_blank">安全保障<span></span><b class="b1"></b></a>
                <ul>
                    <li><em></em><a href="#" target="_blank">银行存管</a></li>
                    <li><em></em><a href="#" target="_blank">风控安全</a></li>
                    <li><em></em><a href="#" target="_blank">电子签章</a></li>
                    <li><a href="#" target="_blank">法律保障</a></li>
                </ul>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="javascript:;" title="">财迷论坛</a><em></em>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="javascript:;" title="">我的账户<span></span><b class="b1"></b></a>
                <ul>
                    <li>
                        <em></em><a href="javascript:;">定投宝</a>
                    </li>
                    <li>
                        <em></em><a href="javascript:;">月月赚</a>
                    </li>
                    <li>
                        <em></em><a href="javascript:;">账户管理</a>
                    </li>
                    <li>
                        <em></em><a href="javascript:;">我的积分</a>
                    </li>
                    <li>
                        <a href="javascript:;">积分乐园</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>